# NOTE: if referenced with source_env then not needed to source_up
# source_up

dotenv .env.private

# defined in .env.private
env_vars_required LINKEDIN_CLIENT_ID
env_vars_required LINKEDIN_CLIENT_SECRET
env_vars_required LINKEDIN_BEARER_TOKEN
env_vars_required LINKEDIN_AUTHOR_ID