source_up

source_env ../go

# Only one of the following lines need to be uncommented
# You can switch between the two by commenting one and uncommenting the other
source_env ../docker
# source_env ../docker.dev

source_env ../k8s

dotenv
